.LoginForm{
  display: flex;
  flex-direction: column;
  width: 25%;
}

.App{
  display: flex;
  align-items: center;
  border: 2px solid red;
  flex-direction: column;
}

.navBar{
  width: 100%;
}

.cards{
  display:flex;
  justify-content: space-evenly;
  border: 2px solid blue;
  width: 100%;
}

.slider{
  width:100%;
}

.selectCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .selectButton{
  display: flex;
  justify-items: center;
  border: 2px solid blue;
} */


